.itemContainer {
    flex-flow: wrap;
    outline-width: thick;
    outline-style: initial;

    flex: 1 1 160px;
    flex-basis: 20%;
}


.item {
    width: 20rem;
    min-height: max-content;
    min-width: 20vh;
}

.item:hover{
    background-color: rgb(226,232,240);
}


.btnDelete {
    margin-left: 15vh;
    padding: 0px 5px 0px;

}

.statusDone {
    margin-left: -1vh;
}
.btnDone {
    padding: 0px 5px 0px;
}

.btnsContainer {
    display: inline-flex;
    margin-top: 2vh;
}