.itemContainer {
    flex-flow: wrap;
    outline-width: thick;
    outline-style: initial;
}


.item {
    width: 20rem;
    min-height: 30vh;
    min-width: 20vh;
}

.item:hover{
    background-color: rgb(226,232,240);
}


