.App {
  text-align: center;
  flex-flow: wrap;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .App {
      flex-direction: column;
  }
}

@media only screen and (max-width: 1000px) {
  .App {
      flex-flow: wrap;
  }
}


.datepicker {
  text-justify: auto;
  color: rgb(97, 93, 93);
}